<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="Naver.Compass.Common.CommonBase"/>
  </extensions>
  <targets>
    <!-- add your targets here -->
    <target xsi:type="File"
            name="f"
            fileName="${specialfolder:folder=CommonApplicationData}/Design Studio/logs/${shortdate}.log"
            archiveAboveSize="2097152"
            layout="[${longdate}][${processid}][${threadid}][${level:uppercase=true}][${logger}][${stacktrace:topFrames=10}]${newline}                          ${message}" />
    <target xsi:type="TraceWithFilter"
            Filter=""
            name="trace"
            layout="[${longdate}][${threadid}][${level:uppercase=true}][${logger}]${message}"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*"
            minlevel="Debug"
            writeTo="f" />
  <logger name="*"
            minlevel="Debug"
            writeTo="trace" />
  </rules>
</nlog>