<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Naver.Compass.Common.Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Naver.Compass.Common.Helper.Properties.Settings>
            <setting name="IsSnapToGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GRID_SIZE" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IsShowPageGuide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowGlobalGuide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSnapToGuide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsHideWelcomOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>222, 241, 250</value>
            </setting>
            <setting name="LocalGuideColor" serializeAs="String">
                <value>Highlight</value>
            </setting>
            <setting name="GlobalGuideColor" serializeAs="String">
                <value>LightSalmon</value>
            </setting>
            <setting name="IsLineType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsLockGuides" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoSaveEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSaveTick" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IsKeepLastAutoSaved" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSaveFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="IsLockRatio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LibrariesExpanded" serializeAs="String">
                <value>1000000000000000000</value>
            </setting>
            <setting name="IsFullPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>ko-KR</value>
            </setting>
        </Naver.Compass.Common.Helper.Properties.Settings>
    </userSettings>
</configuration>